header{
    background-color: rgb(72, 96, 73);
    justify-content: center;
    padding-top: 20px;
    padding-left: 40px;
    height: 160px;

}.slogan{
    margin-left: 300px;
    color: white;

}.big{
    font-size: 55px;
    font-weight: 700;
    color: rgb(197, 132, 54);
    margin-left: 150px;
    margin-bottom: 40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}.buttons{
    margin-left: 150px;


}button{
    color: aliceblue;
    background-color: rgb(94, 159, 94);
    border: none;
    padding: 7px;
    margin-left: 3px;
    border-radius: 4px;
}button:hover{
    background-color: rgb(197, 132, 54);
}.butt{
    color: aliceblue;
    background-color: rgb(197, 132, 54);
    border: none;
    padding: 7px;
    margin-left: 3px;
    border-radius: 4px;

}

a{
    display: inline-block;
    color: rgb(107, 172, 74);
    
}.date{
    display: inline-block;
    color: black;
}.red{
    color: red;
   
    text-decoration: underline;
    text-decoration-color: rgb(138, 28, 28);
}h1{
    font-size: 30px;
    color: rgb(94, 159, 94);
}.list{
    color: rgb(164, 161, 156);
}.bottom{
   
    height: 300px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
     margin-left: 192px;
    margin-right: 150px;

}.mid{
    background-color: black;
}
h2{
    color: rgb(222, 209, 209);
}

span{
    color: white;
} .contact-form {
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 500px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-group textarea {
    resize: vertical;
    min-height: 150px;
}

.form-group button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #0056b3;
}.submit{

    border: none;
    margin-bottom: 3px;
}